body{
  background: #FFFFFF;
  font-family: 'abel', sans-serif;
  font-size:20px;
  color: #3B4B3B;
}
h1,h2{
  font-family: 'impact';
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #111111;
}
#logo h1{
  line-height: 150px;
  letter-spacing: 5px;
  font-size: 2em;
  text-align:center;

}

img{
  width:1500px;
}

#header-page{
  overflow: hidden;
  height: 1000px;
}

#header{
  overflow: hidden;
  width: 1000px;
  height: 150px;
  margin:0 auto;
  padding: 0px , 0px;

}

#banner {
  margin: 0 auto;
  width: 1500px;
  height: 1000px;
}

#threecolumns {
  overflow: hidden;
  width:1000px;
  margin: 0px auto;
  padding: 30px 0px;

}

#threecolumns h2{
  padding: 0px 0px 20px 0px;
  font-size: 30px;
}

#threecolumns #column1{
  float: left;
  width: 300px;
  margin-right:50px;
}

#threecolumns #column2{
  float: left;
  width: 300px;
}

#threecolumns #column3{
  float: right;
  width: 300px;
}
